.InfoRouteContainer {
  padding: 10px;
  span {
    color: rgb(80, 187, 180);
  }
  .InfoBlock {
    margin: 10px 0;
    padding: 0.4em 0.8em 0.4em 0.8em;
    color: rgb(80, 187, 180);
    border: dashed rgb(80, 187, 180) 1px;
    border-radius: 0.5em;
  }
}
