@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap");
body {
  margin: 0px;
  font-family: Nunito;
  button {
    font-family: Nunito;
  }
  input {
    font-family: Nunito;
  }
  select {
    font-family: Nunito;
  }
  .AppContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .BodyContainer {
      display: flex;
      flex-direction: row;
      height: 100%;
      @media (max-width: 500px) {
        flex-direction: column;
      }
      .MenuContainer {
        display: flex;
        flex-direction: column;
        background-color: #202020;
        justify-content: space-between;
        align-items: stretch;
      }
    }
  }
}
